:root {
	font-size: 16px;
	font-family:  'Open Sans';
}


body {
	margin:  0;
	padding:  0;
	background-color: #FCFCFC;
}

h1 {
	padding:  0 10px;
	margin: 0 0 10px 0;
	opacity:  0.9;
}

.container {
	text-align: center;
	overflow-x: hidden;
}


.nav {
	position:  fixed;
	background-color: black;
	opacity: 0.9;
	transition: 200ms ease;
}


.navbar-nav {
	list-style: none;
	margin:  0;
	padding:  0;
	align-items:  center;
	height:  100%;


}

.nav-link {
	display: flex;
	align-items: center;
	height:  5rem;
	color:  white;
	text-decoration: none;
}

.link-text {
	display: none;
	font-size: 1.4rem;
	letter-spacing: 0.2ch;
}



/* Small screen */
@media only screen and (max-width:  600px) {

	.container {
		margin:  0;
		height: 100vh;
	}

	h1 {
		font-size:  3.5rem;
	}

	img {
		width:  250px;
		height:  250px;
		margin: auto 0;
	}

	.nav {
		width:  100vw;
		height:  5rem;
		bottom:  0;
	}

	.navbar-nav {
		display:  flex;	
		flex-direction: row;
		justify-content: space-evenly;
	}

	.nav-item {
		align-items: center;
	}


	i {
		font-size:  2rem;
	}

	
}


/* big screen */
@media only screen and (min-width:  600px) {

	.container {
		margin-left:  5rem;
	}

	h1 {
		font-size:  5rem;
	}

	img {
	width:  500px;
	height:  500px;
	}

	.nav {
	width:  5rem;
	height:  100vh;
	}

	.navbar-nav {
			display:  flex;	
			flex-direction: column;
		}

	.nav-item {
	width:  100%;
	margin:  1rem;
	}

	.nav-item:last-child {
		margin-top:  auto;
	}


	i {
		min-width:  2rem;
		margin:  0 1.5rem;
		font-size:  30px;
	}

	.nav:hover {
		width:  16rem;
	}

	.nav:hover .link-text {
		display: block;
	}


	.nav-item:hover {
		opacity:  0.8;
	}

	.link-text {
		margin-left:  1rem;
	}

}